h1 {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slaider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slaider ul {
    display: flex;
    padding: 0;
    width: 500%;

    animation: cambio 20s infinite alternate;
    
    
}
.slaider li {
    list-style: none;
    width: 100%;
}
.slaider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    35% {margin-left: 0;}

    40% {margin-left: -100%;}
    60% {margin-left: -100%;}

    65% {margin-left: -200%;}
    100% {margin-left: -200%;}
}